{:paths ["src" "resources"]
 :deps {lambdaisland/kaocha {:mvn/version "1.82.1306"}
        babashka/fs {:mvn/version "0.3.17"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
