{:paths ["src" "resources"]
 :deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}
        babashka/fs {:mvn/version "0.1.6"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
