{:deps {polylith-kaocha.bases/test-runner {:local/root "../../bases/test-runner"}
        polylith-kaocha.components/kaocha-test-runner {:local/root "../../components/kaocha-test-runner"}
        polylith-kaocha.components/util {:local/root "../../components/util"}

        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:test
  {:extra-paths []
   :extra-deps
   {polylith-kaocha/kaocha-wrapper {:local/root "../kaocha-wrapper"}}}}}
