{:deps {polylith-kaocha.bases/test-runner {:local/root "../../bases/test-runner"}
        polylith-kaocha.components/kaocha-test-runner {:local/root "../../components/kaocha-test-runner"}
        polylith-kaocha.components/xf {:local/root "../../components/xf"}

        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:test {:extra-paths []
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.64.1010"}}}}}
