{:aliases
 {:dev {:extra-paths ["development/src"

                      ;; poly modules workaround for Cursive, https://github.com/cursive-ide/cursive/issues/2554
                      "bases/example/src"
                      "bases/test-runner/src"
                      "components/kaocha-test-runner/src"
                      "components/kaocha-wrapper/resources"
                      "components/kaocha-wrapper/src"
                      "components/util/src"]
        :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}

                     poly/hyperfidle-rcf {:local/root "bases/hyperfidle-rcf"}
                     
                     ;; poly modules
                     polylith-kaocha.bases/example {:local/root "bases/example"}
                     polylith-kaocha.bases/test-runner {:local/root "bases/test-runner"}
                     polylith-kaocha.components/kaocha-test-runner {:local/root "components/kaocha-test-runner"}
                     polylith-kaocha.components/kaocha-wrapper {:local/root "components/kaocha-wrapper"}
                     polylith-kaocha.components/util {:local/root "components/util"}}}

  :test {:extra-paths [;; poly modules
                       "bases/example/test"
                       "components/kaocha-test-runner/test"
                       "components/kaocha-wrapper/test"
                       "components/kaocha-wrapper/test-resources"
                       "components/util/test"
                       "projects/example/test-resources"]
         :extra-deps {lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}}

  :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
         :extra-paths ["development/poly"]
         :extra-deps {polylith/clj-poly
                      {:git/url "https://github.com/polyfy/polylith"
                       :git/sha "ccc261e60f6a875ff30858bf84cf67be105eac6f"
                       :deps/root "projects/poly"}

                      polylith-kaocha/test-runner
                      {:local/root "projects/test-runner"
                       :exclusions [polylith/clj-api]}}}}}
