{:aliases
 {:dev {:extra-paths ["development/src" "development/poly"]
        :extra-deps {org.clojure/clojure {:mvn/version "1.11.4"}
                     polylith/clj-poly
                     {:git/url "https://github.com/polyfy/polylith"
                      :git/sha "345af4992b5ec97b712cd5b1a2a06f731cdfd61d"
                      :deps/root "projects/poly"}
                     imrekoszo/unlazy
                     {:git/url "https://github.com/imrekoszo/unlazy"
                      :git/tag "v1.0.1"
                      :git/sha "0ff7496"}

                     ;; poly modules
                     polylith-kaocha.bricks/example {:local/root "bases/example"}
                     polylith-kaocha.bricks/kaocha-resource-config-loader {:local/root "components/kaocha-resource-config-loader"}
                     polylith-kaocha.bricks/kaocha-test-runner {:local/root "components/kaocha-test-runner"}
                     polylith-kaocha.bricks/kaocha-wrapper {:local/root "components/kaocha-wrapper"}
                     polylith-kaocha.bricks/test-runner {:local/root "bases/test-runner"}
                     polylith-kaocha.bricks/util {:local/root "components/util"}}}

  :test {:extra-paths [;; poly modules
                       "bases/example/test"
                       "components/kaocha-resource-config-loader/test"
                       "components/kaocha-resource-config-loader/test-resources"
                       "components/kaocha-test-runner/test"
                       "components/util/test"
                       "projects/example/test-resources"]
         :extra-deps {lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"
                                                     :exclusions [lambdaisland/kaocha]}}}

  :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
         :extra-paths ["development/poly"]
         :extra-deps {polylith/clj-poly
                      {:git/url "https://github.com/polyfy/polylith"
                       :git/sha "345af4992b5ec97b712cd5b1a2a06f731cdfd61d"
                       :deps/root "projects/poly"}

                      polylith-kaocha/test-runner
                      {:local/root "projects/test-runner"
                       :exclusions [polylith/clj-poly]}}}}}
