{:aliases
 {:dev {:extra-paths ["development/src"

                      ;; poly modules for Cursive
                      "bases/test-runner/src"
                      "components/xf/resources"]
        :extra-deps {org.clojure/clojure {:mvn/version "1.11.1-rc1"}

                     ;; poly modules
                     polylith-kaocha.bases/test-runner {:local/root "bases/test-runner"
                                                        :exclusions [polylith/clj-api]}
                     polylith-kaocha.components/xf {:local/root "components/xf"}}}

  :test {:extra-paths [;; poly modules
                       "bases/test-runner/test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.64.1010"}}}

  :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
         :extra-deps {polylith/clj-poly
                      {:git/url "https://github.com/polyfy/polylith"
                       :sha "1c4c7f732149cbd81260b9a4ddc08d913c37d3ff"
                       :deps/root "projects/poly"}

                      polylith-kaocha/test-runner
                      {:local/root "projects/test-runner"
                       :exclusions [polylith/clj-api]}}}}}
