{:deps {polylith-kaocha.components/kaocha-resource-config-loader {:local/root "../../components/kaocha-resource-config-loader"}
        polylith-kaocha.components/kaocha-wrapper {:local/root "../../components/kaocha-wrapper"}
        polylith-kaocha.components/util {:local/root "../../components/util"}

        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:test {:extra-paths []
                  :extra-deps {}}}}
