{:deps {polylith-kaocha.components/kaocha-wrapper {:local/root "../../components/kaocha-wrapper"}

        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:test {:extra-paths []
                  :extra-deps {}}}}
