{:config-paths ["babashka/sci"
                "metosin/malli"
                "rewrite-clj/rewrite-clj"]

 :linters {:refer-all {:exclude [clojure.test]}
           :unresolved-symbol {:exclude [(net.cgrand.xforms/for [_ %])]}
           :unsorted-required-namespaces {:level :error}}

 :lint-as {net.cgrand.xforms/for clojure.core/for}}
