{:paths ["resources"]
 :deps {net.cgrand/xforms {:mvn/version "0.19.2"
                           :exclusions [org.clojure/clojurescript]}}
 :aliases {:test {:extra-paths []
                  :extra-deps {}}}}
