{:deps {polylith-kaocha.bases/example {:local/root "../../bases/example"}

        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:test
  {:extra-paths ["test-resources"]
   :extra-deps
   {;; referencing the component here as we should not reference
    ;; another project from within the polylith workspace
    polylith-kaocha.components/kaocha-wrapper {:local/root "../../components/kaocha-wrapper"}

    ;; kaocha's auto spec test checking needs orchestra and test.check provided
    orchestra/orchestra {:mvn/version "2021.01.01-1"}
    org.clojure/test.check {:mvn/version "1.1.1"}}}}}
