{:paths ["src"]
 :deps {}
 ;; polylith/clj-api is a "provided" dependency
 ;; so its :local/root deps don't clash with
 ;; those of polylith/clj-poly when used
 :aliases {:dev {:extra-deps {polylith/clj-api
                              {:git/url "https://github.com/polyfy/polylith"
                               :git/sha "adf957cc055ba1ceaca25e6119915b4d3ad77b48"
                               :deps/root "projects/api"}}}
           :test {:extra-paths []
                  :extra-deps {polylith/clj-api
                               {:git/url "https://github.com/polyfy/polylith"
                                :git/sha "adf957cc055ba1ceaca25e6119915b4d3ad77b48"
                                :deps/root "projects/api"}}}}}
