{:paths ["src"]
 :deps {}
 ;; polylith/clj-poly is a "provided" dependency
 ;; so its :local/root deps don't clash with
 ;; those pulled into a workspace when used
 :aliases {:dev {:extra-deps {polylith/clj-poly
                              {:git/url "https://github.com/polyfy/polylith"
                               :git/tag "v0.2.18"
                               :git/sha "e8feb79"
                               :deps/root "projects/poly"}}}
           :test {:extra-paths []
                  :extra-deps {polylith/clj-poly
                               {:git/url "https://github.com/polyfy/polylith"
                                :git/tag "v0.2.18"
                                :git/sha "e8feb79"
                                :deps/root "projects/poly"}}}}}
