{:paths ["src"]
 :deps {}
 ;; polylith/clj-api is a "provided" dependency
 ;; so its :local/root deps don't clash with
 ;; those of polylith/clj-poly when used
 :aliases {:dev {:extra-deps {polylith/clj-api
                              {:git/url "https://github.com/polyfy/polylith"
                               :git/sha "9d7bfdbe27ea19143c220b7d1a980124c37e2128"
                               :deps/root "projects/api"}}}
           :test {:extra-paths []
                  :extra-deps {polylith/clj-api
                               {:git/url "https://github.com/polyfy/polylith"
                                :git/sha "9d7bfdbe27ea19143c220b7d1a980124c37e2128"
                                :deps/root "projects/api"}}}}}
